In [1]:
import pandas as pd
import numpy as np
from sklearn.manifold import TSNE

In [2]:
df = pd.read_csv('ANSUR_II_FEMALE.csv')

In [7]:
# Non-numerical columns in the dataset
non_numeric = ['Branch', 'Gender', 'Component', 'BMI_class', 'Height_class']
# Drop the non-numerical columns from df
df_numeric = df.drop(non_numeric, axis=1)

In [8]:
# Create a t-SNE model with learning rate 50
m = TSNE(learning_rate=50)

# Fit and transform the t-SNE model on the numeric dataset
tsne_features = m.fit_transform(df_numeric)
print(tsne_features.shape)
print(tsne_features)

(1986, 2)
[[ 21.35659    8.913568]
 [ -9.503674 -41.108253]
 [-23.070362 -26.728088]
 ...
 [-25.759922  22.184061]
 [ 18.328007  14.14261 ]
 [  8.672025 -10.779263]]

In [9]:
import seaborn as sns
import matplotlib.pyplot as plt

In [10]:
x = tsne_features[:,0]
y = tsne_features[:,1]
df['x'] = x
df['y'] = y
df.head()

,Branch,Component,Gender,abdominalextensiondepthsitting,acromialheight,acromionradialelength,anklecircumference,axillaheight,balloffootcircumference,balloffootlength,...,waistheightomphalion,wristcircumference,wristheight,weight_kg,stature_m,BMI,BMI_class,Height_class,x,y
0,Combat Support,Regular Army,Female,231,1282,301,204,1180,222,177,...,942,152,756,65.7,1.560,26.997041,Overweight,Normal,21.356590,8.913568
1,Combat Service Support,Regular Army,Female,194,1379,320,207,1292,225,178,...,1032,155,815,53.4,1.665,19.262506,Normal,Normal,-9.503674,-41.108253
2,Combat Service Support,Regular Army,Female,183,1369,329,233,1271,237,196,...,1035,162,799,66.3,1.711,22.647148,Normal,Tall,-23.070362,-26.728088
3,Combat Service Support,Regular Army,Female,261,1356,306,214,1250,240,188,...,999,173,818,78.2,1.660,28.378575,Overweight,Normal,-23.760014,9.667268
4,Combat Arms,Regular Army,Female,309,1303,308,214,1210,217,182,...,911,152,762,88.6,1.572,35.853259,Overweight,Normal,-26.115862,36.102314